table.type02 {
    font-family: "Meiryo UI", "ヒラギノ角ゴシック", "メイリオ", "ＭＳ Ｐゴシック", sans-serif;
    border-collapse: separate;
    border-spacing: 0;
    text-align: left;
    line-height: 1.5;
    border: double 3px;
    border-top: 1px solid #ccc;
    border-left: 1px solid #ccc;
    width: 100%;
}
table.type02 th {
    /*width: 180px;*/
    padding: 10px;
    font-weight: bold;
    vertical-align: top;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #fff;
    border-left: 1px solid #fff;
    /* background: #eee; */
}
table.type02 td {
    /* width: 350px; */
    width: 40%;
    padding: 10px;
    vertical-align: top;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}
table.type02 {
    border : double 3px;
}
h3 {
    color: blue;
}
